
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.CardWrapper{
  font-family: 'Spartan', sans-serif;
  
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(180, 52%, 96%) ;
}
.Card{
  display:flex;
  height:auto;
  justify-content: space-between;
  align-items: center;
  padding:5px;
  padding-right:30px;
  border:none;
  align-content: center;
  box-shadow: 10px 10px 8px hsl(180, 29%, 50%);
  margin:15px;
  
}
.logo{
  width:15vh;
  border-radius: 50%;


}
.descriptiveTags{
  justify-content: space-evenly;
  font-weight: 300!important;
}
.SqwaretagContainer{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  width:auto;

}
.Sqwaretag{
  margin:5px;
  border:1px white solid;
  
padding:5px;
color:hsl(180, 8%, 52%);
background-color:hsl(180, 31%, 95%);

}
.Sqwaretag:hover {
  background-color: yellow;
  color:white;
background-color:hsl(180, 8%, 52%);
}
.Sqwaretag2{
  margin:5px;
  border:1px white solid;
  
padding:5px;
color:hsl(180, 8%, 52%);
background-color:hsl(180, 31%, 95%);

}
.Sqwaretag2{
  margin:5px;
  border:1px white solid;
  
padding:5px;
color:hsl(180, 8%, 52%);
background-color:black;

}
.Sqwaretag2:hover {
  background-color: yellow;
  color:white;
background-color:hsl(180, 8%, 52%);
}
.aboutBlock{
  display:flex;
  flex-direction:column;
  justify-items: left;
}
.descriptiveTags{
  justify-content: center;
  justify-content: space-evenly;
  justify-content: left;
  margin-left:-5px;
}

.tagsNew{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
 
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header{
  width:100%;
  background-color:hsl(180, 8%, 52%);
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.position{
  font-weight: 700;
  justify-content: left;
}
.nowrap{
  flex-wrap:nowrap;
  font-weight: 300;
 
  margin: 5px;
  color: hsl(180, 8%, 52%);
  
}
.companyName{
  color:hsl(180, 29%, 50%);
}
span{
  display:flex;
  justify-content: left;
}
p{

    display:flex;
    justify-content: left;

}
.contract{
  font-weight: 300!important;
}