.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.CardWrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.Card{
  display:flex;
  height:auto;
  justify-content: space-between;
  align-items: center;
  padding-right:30px;
  border:1px black solid;
  align-content: center;
}
.logo{
  width:15vh;
  border-radius: 50%;
  align-self: flex-start;

}
.descriptiveTags{
  justify-content: space-evenly;
}
.SqwaretagContainer{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  width:auto;

}
.Sqwaretag{
  margin:5px;
  border:1px black solid;

}
.aboutBlock{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}
.descriptiveTags{
  justify-content: center;
  justify-content: space-evenly;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header{
  width:100%;
  background-color:hsl(180, 8%, 52%);
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
